<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Customer Search</title>
    <link rel="stylesheet" href="css/search.css">
    <script src="../../../lib/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <div style="float: left;">
            <customer-search btn="search" :items="items"></customer-search>
        </div>
        <div style="float: left; margin-left: 10px;">
            <customer-search btn="find" :items="items"></customer-search>
        </div>
    </div>
    <script src="js/search.js"></script>
</body>
</html>